doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equic="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, intial-scale=1")
		title PowerCBM
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		//- link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.css")
		//- link(rel="stylesheet", href="styles.css")
		link(rel="stylesheet", href="style/stylesheets/styles.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel='stylesheet', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//app-sjh.marketo.com/js/forms2/js/forms2.min.js")

	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle.heightfix.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						img(alt="OSIsoft", src="assets/osisoft-logo.png")
				#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-stacked.ofn
					ul.nav.navbar-nav.heightfix
						li.active
							a(href='#s1') Video
								span.sr-only (current)
						li
							a(href='#s2') The PI System
						li
							a(href='#s3') The PI System for CBM
						li
							a(href='#s4') Fingrid Oyj’s Story
						li
							a(href="#s5") Learn More
						li
							a(href="#s6") How It Works
						li
							a(href="#s7") Exelon's Story
						li
							a(href="#s8") Request Information
					//- .navbar-right.navbar-header
					//- 	h1 Power Generation
					//- ul
					//- 	li.active
					//- 		a.nav-section1#link1 S1. Info
					//- 	li
					//- 		a.nav-section2#link2 Section2
					//- 	li
					//- 		a.nav-section3#link3 Section3
					//- 	li
					//- 		a.nav-section4#link4 Section4
					//- 	li.scrollTop
					//- 		a(href="#")
					//- 			span.entypo-up-open
		.container-fluid.widthfix.hero#s1
			//- video(autoplay="autoplay", muted="muted", poster="https://www.paypalobjects.com/webstatic/en_US/mktg/wright/home/OneTouchCity_Frame1_dark.jpg").vid
			//- 	source(src="https://www.paypalobjects.com/webstatic/en_US/mktg/wright/videos/OneTouchCity.mp4", type="video/mp4")
			video(autoplay="autoplay", muted="muted", poster="assets/freeze_frame.jpg").vid
				source(src="assets/cbm.mp4", type="video/mp4")
			container
				.hero-caption
					h1.bigh1 Optimizing Plant Operations with Condition Based Maintenance
				.hero-button
					p
						a.btn.btn-primary.btn-xl(type="button", data-toggle="modal", data-target="#myModal0") See the Advantages 
							span(aria-hiddne="true").glyphicon.glyphicon-triangle-right
		.container-fluid.widthfix#s2
			.content-space-one
				.container.content
					h1 The PI System enables Power Generation suppliers to better manage one unit or an entire fleet of generating units
					p A growing number of utility operators are considering the adoption of condition-based maintenance (CBM) and other proactive strategies that are driven by the actual condition of an asset rather than planned calendar- or time-based maintenance schedules. CBM promises to:
					ul
						li eliminate unnecessary maintenance
						li minimize unexpected failures
						li maximize use of resources
						li increase reliability and availability
						li support life extetnsion
					h2 Visit us and the POWER-GEN Show in Las Vegas, December 8-10 at Booth #8235
		.container-fluid.widthfix#s3
			.content-block-one
				.container
					.diacon
						img(src="assets/1.jpg").diagram.stagg.d2
						img(src="assets/2.jpg").diagram.stagg.d3
						img(src="assets/3.jpg").diagram.stagg.d4
						img(src="assets/4.jpg").diagram.stagg.d5
						img(src="assets/5.jpg").diagram.stagg.d1
					.content
						h1 The 6 Steps of CBM with the PI System
						p Using the PI System for CBM provides multiple advantages. For instance it:
						ul
							li alters the process from a static or periodic assessment to an online, dynamic, real-time assessment of asset health 
							li provides a comprehensive data environment that can be used to conduct a more complete analysis of current conditions
							li transforms real-time data into useful information and creates event frames to supplement this highly detailed data analysis
							li provides the ability to efficiently perform root cause analysis, in case of a failure
		.container-fluid.widthfix#s4
			.content-space-two
				.container.content
					h1 "<strong>Avoiding a catastrophic failure</strong> is quite a good achievement, but repairing those transformers <strong>will save us about five million Euros</strong>; that makes it even better.” <br />  
					p - Kimmo Nepala, Planning Engineer, <strong>Fingrid Oyj</strong>
					//- button(type="submit").center-block.trans.floatright
					//- 	a(href="assets/CB_Fingrid_LT_EN_FINAL.pdf")
					//- 		img(src="assets/fingrid_story_button.png")
					button(type="submit").yellow-button.center-block.trans.floatright
						a(href="assets/CB_Fingrid_LT_EN_FINAL.pdf").button-anchor Read Fingrid OYJ's Story


		.container-fluid.widthfix#s5
			.content-block-one
				.container
					.content
						h1 <strong>Learn More: Real-Time Asset Monitoring for Power Generation</strong>
						p The PI System provides power generators with a universal data infrastructure that is capable of collecting, managing and analyzing information from multiple isolated sources across the enterprise and presenting that data in a way that allows management, engineering, operations and maintenance staff to share information and solve problems faster.
						.row
							.col-sm-12.col-md-7
								.panel.panel-default
									.panel-body.text-center
										img(src="assets/section_5_thumbail_1.png").diagram
										p <strong>eBook</strong> A Guidebook to Implementing Condition-Based Maintenance (CBM) Using Real-time Data
										//- button(type="submit").center-block.trans
										//- 	a(href="http://pages.osisoft.com/Power-CBM-eBook_LP.html")
										//- 		img(src="assets/download_ebook_button.png")
										button(type="submit").yellow-button.center-block.trans
											a(href="http://pages.osisoft.com/Power-CBM-eBook_LP.html") Download eBook
							.col-sm-12.col-md-5								
								.panel.panel-default
									.panel-body.text-center
										img(src="assets/section_5_thumbail_2.png").diagram
										p <strong>Whitepaper</strong> Condition Based Maintenance Bolsters the Bottom Line in Power Generation
										//- button(type="submit").center-block.trans
										//- 	a(href="http://pages.osisoft.com/Power-CBM-Whitepaper_LP.html")
										//- 		img(src="assets/download_whitepaper_button.png")
										button(type="submit").yellow-button.center-block.trans
											a(href="http://pages.osisoft.com/Power-CBM-Whitepaper_LP.html") Download Whitepaper
		.container-fluid.widthfix#s6
			.content-space-three
				.container.content
					h1 <strong>How It Works</strong>
					p The PI System provides key 
						#[a(href="#", data-toggle="tooltip", data-html="true", title="• capturing and sharing data in its original fidelity without averaging or aggregating, using proven methods that scale to an enterprise;<br>• providing efficient real-time data management from a wide variety of operational sources in a highly secure manner;<br>• using an Asset Framework to organize data streams and related process information by asset and plant topology, giving the data functional and operational context<br>• providing advanced analytics that convert raw data streams into meaningful events and values;<br>• implementing predictive warning notifications systems that send alerts to facilitate fast response to potential production or equipment problems<br>• serving up data to other advanced analytical tools and engines; and<br>• integrating business and operational systems to connect employees, business partners, suppliers, markets").tt #[em capabilities]] for CBM. It alters the process from a static or periodic assessment to a real-time assessment of asset health. Engineers are able to create a more comprehensive data environment that can be used to conduct thorough analysis of current conditions. This allows them to transform real-time data into valuable information that can supplement and enhance their data analysis.
					.row
						.col-sm-12.col-md-6
							.panel.panel-default
								.panel-body.text-center
									img(src="assets/section_6_thumbail_1.png").diagram
									p <strong>Demo</strong> Condition-Based Maintenance Demo Using the PI System
									//- button(type="submit").center-block.trans
									//- 	img(src="assets/section_6_view_the_demo_button.png")
									button(type="button", data-toggle="modal", data-target="#myModal1").yellow-button.center-block.trans View the Demo
						.col-sm-12.col-md-6								
							.panel.panel-default
								.panel-body.text-center
									img(src="assets/section_6_thumbail_2.jpg").diagram
									p <strong>Improving Asset Health</strong> Take Action Based on Real-time Condition Monitoring
									//- button(type="submit").center-block.trans
									//- 	a(href="http://pages.osisoft.com/Power_CBM_OnDemand_Webinar_LP.html")
									//- 		img(src="assets/section_6_view_webinar_button.png")
									button(type="submit").yellow-button.center-block.trans
										a(href="http://pages.osisoft.com/Power_CBM_OnDemand_Webinar_LP.html") View the Webinar
		.container-fluid.widthfix#s7
			.content-block-two
				.container.content
					h1 "<strong>Time is of the essence.</strong><span class="black">The sooner you find out there is a problem,</span> <strong>the sooner you can do something about it.</strong>"
					p.black - Mohammed Yousuf, Senior Staff Engineer, <strong>Exelon</strong>
					//- button(type="submit").center-block.trans.floatright
					//- 	a(href="assets/CB_Exelon_LT_EN_FINAL.pdf")
					//- 		img(src="assets/exelon_story_button.png")
					button(type="submit").yellow-button.center-block.trans.floatright
						a(href="assets/CB_Exelon_LT_EN_FINAL.pdf") Read Exelon's Story
		.container-fluid.widthfix.greybgform#s8
			.content-block-one
				.container
					.content.formheading
						p We know we may not have answered all your questions, so we invite you to contact us for a 1:1 discussion to find out how the PI System for CBM can address your specific operation optimization and system efficiency challenges.
					.row
						form(id="mktoForm_2931").input-group.input-group-lg.col-sm-12.col-md-6.centered
						script MktoForms2.loadForm("//app-sjh.marketo.com", "494-OYA-934", 2931);
					//- .row
					//- 	.input-group.input-group-lg.col-sm-12.col-md-6.centered
					//- 		input(type="text", placeholder="First Name").form-control
					//- 	.input-group.input-group-lg.col-sm-12.col-md-6.centered
					//- 		input(type="text", placeholder="Last Name").form-control
					//- 	.input-group.input-group-lg.col-sm-12.col-md-6.centered
					//- 		input(type="email", placeholder="Email Address").form-control
					//- 	.input-group.input-group-lg.col-sm-12.col-md-6.centered
					//- 		input(type="text", placeholder="Job Title").form-control
		//- .tallone
		//- .scroll-top-wrapper
		//- 	//- span.scroll-top-inner
		//- 	//- 	i.fa.fa-2x.fa-arrow-circle-up
		//- 	a(href="www.google.com")
		.footer
			.container
				.links
					span © 2015 OSIsoft
					span |
						a(href="https://twitter.com/OSIsoft") Osisoft.com
					span |
						a(href="http://www.osisoft.com/home/Privacy_Policy.aspx") Privacy
				.image-links
					ul.social
						li.social_twitter.trans
							a(href="https://twitter.com/OSIsoft", target="_blank")
						li.social_facebook.trans
							a(href="http://www.facebook.com/OSIsoft", target="_blank")
						li.social_linkedin.trans
							a(href="http://www.linkedin.com/company/osisoft", target="_blank")
						li.social_users.trans
							a(href="http://community.osisoft.com/", target="_blank")

		.modal.fade#myModal0(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal",aria-hidden="true")
							#[span(aria-hidden="true") &times;]
						h4.modal-title#myModal0Label See the Advantages
					.modal-body
						.yt
							#player0
					.modal-footer
						button.btn.btn-primary(data-dismiss="modal") Close

		.modal.fade#myModal1(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal",aria-hidden="true")
							#[span(aria-hidden="true") &times;]
						h4.modal-title#myModal1Label Demo
					.modal-body
						.yt
							#player1
					.modal-footer
						button.btn.btn-primary(data-dismiss="modal") Close
		script.
			var w = "864";
			var h = "486";
			$(window).on('resize',function(){location.reload();});
			if ($(window).width() < 769) {
				w = "568";
				h = "320";
			}
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var vids = {
				0 : "BfcPSm1Sqn0",
				1 : "p0UilUJUJb4"
			}
			var players = [];

			function onYouTubeIframeAPIReady(){
				for(var vid in vids){
					var player = new YT.Player('player' + vid, {
						width: w,
						height: h,
						videoId: vids[vid]
					});
					players.push(player);
				}
				console.log("inside YTAPIR func", players);
				console.log("vids obj", vids)
			}
			function stopVideo(i){
				players[i].stopVideo();
			}
			$("#myModal0").on('shown.bs.modal', function() {
				if (typeof players[0].playVideo == 'function') {
					players[0].playVideo();
				} else {
				var fn = function() {
					players[0].playVideo();
				};
					setTimeout(fn, 200);
				}
			});

			$("#myModal0").on('hidden.bs.modal', function(e) {
				players[0].stopVideo(0);
			});

			$("#myModal1").on('shown.bs.modal', function() {
				if (typeof players[1].playVideo == 'function') {
					players[1].playVideo();
				} else {
				var fn = function() {
					players[1].playVideo();
				};
					setTimeout(fn, 200);
				}
			});

			$("#myModal1").on('hidden.bs.modal', function(e) {
				players[1].stopVideo(1);
			});


		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
		script(src="main.js")
		script(src="fix.js")
