doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equic="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, intial-scale=1")
		title PowerCBM
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="styles.css")
	body
		h1 Hellow, World!

		nav.nav
			div.padded
				ul
					li.active
						a.nav-section1#link1 S1. Info
					li
						a.nav-section2#link2 Section2
					li
						a.nav-section3#link3 Section3
					li
						a.nav-section4#link4 Section4
					li.scrollTop
						a(href="#")
							span.entypo-up-open

		article
			h1#section1 1.Info
			p blah blah blah blah
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
