/* line 2, ../sass/styles.sass */
body {
  color: dodgerblue;
}

/* line 5, ../sass/styles.sass */
.navbar-brand {
  height: 100%;
}

/* line 8, ../sass/styles.sass */
.navbar-default {
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
}

/* line 15, ../sass/styles.sass */
.heightfix {
  margin-top: 25px;
}

/* line 17, ../sass/styles.sass */
.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  background: url(../../assets/section_1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 28, ../sass/styles.sass */
.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  background: url(../../assets/section_2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* line 39, ../sass/styles.sass */
.content-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  background: url(../../assets/section_3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 50, ../sass/styles.sass */
.widthfix {
  padding: 0;
}

/* line 52, ../sass/styles.sass */
.diagram {
  max-width: 100%;
  max-height: 100%;
}

/* diagram transition styles */
/* line 57, ../sass/styles.sass */
.diacon {
  position: relative;
}

/* line 62, ../sass/styles.sass */
.d2, .d3, .d4, .d5 {
  position: absolute;
  display: none;
}

/* line 67, ../sass/styles.sass */
.content h1 {
  font-size: 2.5rem;
  font-weight: 200;
}
/* line 70, ../sass/styles.sass */
.content p {
  font-size: 2rem;
  font-weight: 100;
}
/* line 73, ../sass/styles.sass */
.content li {
  font-size: 1.5rem;
}

/* line 75, ../sass/styles.sass */
.panel-body {
  color: black;
}

/* line 77, ../sass/styles.sass */
.content-block-two {
  padding: 100px 0px;
}

/* line 79, ../sass/styles.sass */
button {
  padding: 0;
  border: 0;
}

/* line 82, ../sass/styles.sass */
.content-block-one {
  padding: 50px 0px;
}

/* line 84, ../sass/styles.sass */
.floatright {
  float: right;
}

/* line 86, ../sass/styles.sass */
.black {
  color: black;
}

/* line 88, ../sass/styles.sass */
.vid {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* line 97, ../sass/styles.sass */
.greybgform {
  text-transform: uppercase;
  color: #606062;
  background-color: #f6f6f7;
}

/* line 102, ../sass/styles.sass */
.footer {
  width: 100%;
  float: right;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 109, ../sass/styles.sass */
.image-links,
.links {
  display: inline-block;
}

/* line 113, ../sass/styles.sass */
.image-links {
  vertical-align: middle;
  position: relative;
}

/* line 117, ../sass/styles.sass */
.image-links img {
  margin-left: 2px;
}

/* line 120, ../sass/styles.sass */
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 180px;
}

/* line 127, ../sass/styles.sass */
ul.social a {
  display: block;
  height: 35px;
  width: 35px;
  text-indent: -9999px;
}

/* line 133, ../sass/styles.sass */
ul.social li {
  float: left;
  margin-right: 10px;
}

/* line 137, ../sass/styles.sass */
.social_twitter a {
  background: url(../../assets/social-media_twitter.png);
}

/* line 140, ../sass/styles.sass */
.social_facebook a {
  background: url(../../assets/social-media_facebook.png);
}

/* line 143, ../sass/styles.sass */
.social_linkedin a {
  background: url(../../assets/social-media_linkedin.png);
}

/* line 146, ../sass/styles.sass */
.social_users a {
  background: url(../../assets/social-media_pisquare.png);
}

/* line 149, ../sass/styles.sass */
.links {
  margin: 1rem;
}

/* line 152, ../sass/styles.sass */
.trans {
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* line 162, ../sass/styles.sass */
.tiles:hover,
.tiles:active,
.tiles.active,
.tiles:focus,
.tiles:active:focus,
.tiles.active:focus,
.strips:hover,
.strips:active,
.strips.active,
.strips:focus,
.strips:active:focus,
.strips.active:focus,
.social > li:hover,
.social > li:active,
.social > li.active,
.social > li:focus,
.social > li:active:focus,
.social > li.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
}

/* line 183, ../sass/styles.sass */
.centered {
  margin: 0.6rem auto;
}

/* navbar toggle hack */
/* line 187, ../sass/styles.sass */
.navbar-header {
  float: none;
}

/* line 190, ../sass/styles.sass */
.navbar-toggle {
  display: block;
}

/* line 193, ../sass/styles.sass */
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 197, ../sass/styles.sass */
.navbar-collapse.collapse {
  display: none !important;
}

/* line 200, ../sass/styles.sass */
.navbar-collapse.collapse.in {
  display: block !important;
}

/* line 203, ../sass/styles.sass */
.navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
}

/* line 207, ../sass/styles.sass */
.navbar-nav > li {
  float: none;
}

/* line 209, ../sass/styles.sass */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 213, ../sass/styles.sass */
.ofn {
  overflow: hidden;
}

/* line 216, ../sass/styles.sass */
.tooltip-inner {
  font-size: 1.2rem;
  white-space: pre-wrap;
  text-align: justify;
  max-width: 40rem;
}

@media screen and (min-width: 768px) {
  /* line 249, ../sass/styles.sass */
  body {
    padding-top: 90px;
  }

  /* line 252, ../sass/styles.sass */
  .content h1 {
    font-size: 4rem;
    font-weight: 200;
  }
  /* line 255, ../sass/styles.sass */
  .content p {
    font-size: 2.5rem;
    font-weight: 100;
  }
  /* line 258, ../sass/styles.sass */
  .content li {
    font-size: 1.8rem;
  }

  /* line 260, ../sass/styles.sass */
  .tooltip-inner {
    font-size: 2rem;
    font-weight: 100;
    max-width: none;
  }

  /* line 264, ../sass/styles.sass */
  .diacon {
    position: relative;
    overflow: hidden;
    height: 614px;
    width: 1200px;
  }

  /* line 269, ../sass/styles.sass */
  .stagg {
    -moz-transition: opacity 1.25s;
    -o-transition: opacity 1.25s;
    -webkit-transition: opacity 1.25s;
    transition: opacity 1.25s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    display: block;
  }
  /* line 277, ../sass/styles.sass */
  .stagg:nth-child(1) {
    -moz-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  /* line 277, ../sass/styles.sass */
  .stagg:nth-child(2) {
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  /* line 277, ../sass/styles.sass */
  .stagg:nth-child(3) {
    -moz-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s;
  }
  /* line 277, ../sass/styles.sass */
  .stagg:nth-child(4) {
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
  /* line 277, ../sass/styles.sass */
  .stagg:nth-child(5) {
    -moz-transition-delay: 1.25s;
    -o-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    transition-delay: 1.25s;
  }
  /* line 279, ../sass/styles.sass */
  #s3:hover .stagg {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 281, ../sass/styles.sass */
  .d1 {
    opacity: 0.2;
    display: block;
  }
}
